.body {
    margin: 0px;
    overflow:hidden;
}

#canvas-container{
    height:720px;
} 
.canvas{
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px
}

#canvas-draft{
    background-color: transparent;
}

.side-button {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 80px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding-top: 20px;
}

.painter-button {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.shape-menu {
    height: auto;
    width: auto;
}

.shape-button{
    height: 56px;
    width: 56px;
    margin: 2px;
}

#shape-relative {
    position: relative;
}

.shape-sub-menu {
    position: absolute;
    top: 0px;
    left: 80px;
    width: 200px;
    display: none;
}